.single-project {
  display: flex;
  margin: auto;
  border: 1px solid #213F52;
  color: #424240;
  padding: 0.8em;
  text-decoration: none;
  width: 90vw;
  min-height:15em;
  justify-content: center;
}
.single-project:hover {
  cursor: pointer;
  background-color: #A7C0CF;
}
.project-button {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.expand-button {
  width: 20px;
  height: 20px;
  opacity: 60%;
  position: absolute;
  margin-top: 190px;
  right: 8vw;
  z-index: 10;
}
.single-project h3 {
  margin: auto 0.4rem auto 0.4rem;
  min-width: 40%;
}
.single-project p {
  margin: auto 1rem auto 1rem;
}
.single-project a {
  margin: auto 1rem auto 1rem;
  color: blue;
}
.short-info {
  display: flex;
  flex-direction: row;
  margin: 0.4em 1em;
}

.small-pic img {
  width: 100px;
}

.small-pic {
  margin: auto 0.4em;
}

@media screen and (min-width: 760px) {
  .single-project {
    width: 85vw;
  }
  .small-pic img {
    width: 160px;
  }
  .single-project h3 {
    margin: auto 3.6rem auto 0.4rem;
  }
  
  .single-project p {
    margin: auto 4rem auto 1rem;
  }
  .single-project a {
    margin: auto 4rem auto 1rem;
  }
}