.single-project {
  display: flex;
  margin: auto;
  border: 1px solid #213F52;
  color: #666563;
  padding: 0.8em;
  text-decoration: none;
  width: 90vw;
  min-height:15em;
  justify-content: center;
}

.single-project:hover {
  cursor: pointer;
  background-color: #A7C0CF;
}

.project-button {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.single-project h3 {
  margin: auto 0.4rem auto 0.4rem;
  min-width: 40%;
}

.single-project p {
  margin: auto 1rem auto 1rem;
}

.short-info {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  margin: 0.4em 1em;
}

.single-project img {
  width: 120px;
}

.small-pic {
  margin: auto 0.4em;
}

@media screen and (min-width: 760px) {
  .single-project {
    width: 85vw;
  }
  .single-project img {
    width: 160px;
  }
  .single-project h3 {
    margin: auto 3.6rem auto 0.4rem;
  }
  
  .single-project p {
    margin: auto 4rem auto 1rem;
  }
}