.tech-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tech-div {
  margin: 0em 0.5em 1em 0.5em;
  width: 14%;
}

.tech-logos img {
  height: auto;
  width: 100%;
  max-width: 100px;
}

.project-details {
  padding-top: 2.8rem;
}

.project-details h1 {
  margin: 1.2rem 0rem 0.5rem 0rem;
}
.project-description h2 {
  margin: 0.8rem 1rem 0rem 1rem;
}
.project-description h3 {
  border-top: 1px solid #213F52;
  padding-top: 1.2em;
  margin: 1.6rem 1.8rem 0rem 1.8rem;
  text-align: left;
}
.project-description p {
  margin: 1.6rem 1.8rem 2.4rem 1.8rem;
  text-align: left;
}
.live-link {
  border-bottom: 1px solid #213F52;
  padding-bottom: 2.8em;
  margin: 1.6rem 1.8rem 0rem 1.8rem;
  font-size: smaller;
}
.live-link a {
  color: #D4D1CD;
  background-color: #213F52;
  text-decoration: none;
  margin: 0.4em;
  padding: 0.6em;
  border: 1px #213F52 solid;
  border-radius: 12px;
}
.live-link a:hover {
  background-color: #A7C0CF;
  color: #213F52;
}
.live-link a:visited {
  text-decoration: none;
}

.repo-links {
  margin: 2.4em auto 2.4em auto;
  font-size: smaller;
}

.repo-links a {
  color: #D4D1CD;
  background-color: #213F52;
  text-decoration: none;
  margin: 0.4em;
  padding: 0.6em;
  border: 1px #213F52 solid;
  border-radius: 12px;
}

.repo-links a:hover {
  background-color: #A7C0CF;
  color: #213F52;
}

.repo-links a:visited {
  text-decoration: none;
}

.app-screenshot {
  width: inherit;
  padding: 4% 4%;
  border-radius: 10px;
  max-width: 600px;
}

.screenshot-border {
  width: 80vw;
  margin: 1em auto 2em auto;
  border: 1px solid #213F52;
  border-radius: 10px;
  background-color: #A7C0CF;
  max-width: 600px;
}
