.tech-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tech-logos li {
  list-style: none;
  margin: 0em 0.5em 1em 0.5em;
  width: 14%;
}

.tech-logos img {
  height: auto;
  width: 100%;
}