.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: auto;
  background-color: brown;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin: auto 1rem;
  padding: 0.8rem 0;
}

.nav-bar a:hover {
  cursor: pointer;
  color: black;
}