.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: auto;
  background-color: #213F52;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.nav-bar a {
  color: #D4D1CD;
  text-decoration: none;
  margin: auto 1rem;
  padding: 0.8rem 0;
}

.nav-bar a:hover {
  cursor: pointer;
  color: #A7C0CF;
}

.nav-name {
  position: fixed;
  color: #D4D1CD;
  z-index: 101;
  top: 0;
  left: 0;
  margin-left: 0.6rem;
  line-height: 0px;
}